<h1>Checkout</h1>
<hr/>

  <div class="row">
    <div class="six columns">
      <label for="currency">Currency</label>
      <select class="u-full-width" id="currency">
        <option value="AUD">AUD</option>
        <option value="NL">NL</option>
        <option value="USD">USD</option>
      </select>
      <input type="text" id="amount" value="10.00">
      <button class="button-primary" id="submitPaymentDetails">Submit
      </button>
    </div> <!-- div.column -->
    <div class="six columns"></div>
  </div> <!-- div.row -->

<div id="dropin-container"></div>
<!-- <script type="text/javascript" src="/js/checkout.js"></script> -->

<script type="text/javascript">
  // checkout.js waits until the DOM is loaded to initialise the checkout system,
  // by which time this client key will be defined.
  const CLIENT_KEY = '{{CLIENT_KEY}}';
</script>
<script type="text/javascript" src="/js/checkout.js"></script>
